In [2]:
import pandas as pd
import numpy as np
import os

## Yellow

In [78]:
# Specify the directory containing the Parquet files
directory_path_yellow = 'C:/Users/hitsingh/Desktop/DSF/trips/yellow'

In [79]:
# Get a list of all Parquet files in the directory
parquet_files = [file for file in os.listdir(directory_path_yellow) if file.endswith('.parquet')]
parquet_files

['yellow_tripdata_2022-01.parquet',
 'yellow_tripdata_2022-02.parquet',
 'yellow_tripdata_2022-03.parquet',
 'yellow_tripdata_2022-04.parquet',
 'yellow_tripdata_2022-05.parquet',
 'yellow_tripdata_2022-06.parquet',
 'yellow_tripdata_2022-07.parquet',
 'yellow_tripdata_2022-08.parquet',
 'yellow_tripdata_2022-09.parquet',
 'yellow_tripdata_2022-10.parquet',
 'yellow_tripdata_2022-11.parquet',
 'yellow_tripdata_2022-12.parquet']

In [80]:
# Initialize an empty DataFrame to store the merged data
merged_df = pd.DataFrame()

In [82]:
columns_yellow = ['VendorID', 'trip_time','trip_distance',
       'passenger_count',  'PULocationID', 'DOLocationID',  'RatecodeID', "day_of_week", "hour_of_day" , "trip_fair"]

In [84]:
# # Iterate through each Parquet file and append its content to the merged DataFrame
for file in parquet_files:
    file_path = os.path.join(directory_path_yellow, file)
    df = pd.read_parquet(file_path)
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

    df['trip_time'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
    df['trip_fair'] = df['fare_amount'] + df['extra'] + df['tip_amount']
    df['day_of_week'] = df['tpep_pickup_datetime'].dt.dayofweek + 1
    df['hour_of_day'] = df['tpep_pickup_datetime'].dt.hour
    df = df[columns_yellow]
    # df = df.drop(columns=columns_to_remove, errors='ignore')
    # df = df.dropna()
    merged_df = pd.concat([merged_df, df], ignore_index=True)
    print(file)

# # Display the merged DataFrame

yellow_tripdata_2022-01.parquet
yellow_tripdata_2022-02.parquet
yellow_tripdata_2022-03.parquet
yellow_tripdata_2022-04.parquet
yellow_tripdata_2022-05.parquet
yellow_tripdata_2022-06.parquet
yellow_tripdata_2022-07.parquet
yellow_tripdata_2022-08.parquet
yellow_tripdata_2022-09.parquet
yellow_tripdata_2022-10.parquet
yellow_tripdata_2022-11.parquet
yellow_tripdata_2022-12.parquet

In [85]:
merged_df.head()

,VendorID,trip_time,trip_distance,passenger_count,PULocationID,DOLocationID,RatecodeID,day_of_week,hour_of_day,trip_fair
0,1,17.816667,3.80,2.0,142,236,1.0,6,0,21.15
1,1,8.400000,2.10,1.0,236,42,1.0,6,0,12.50
2,2,8.966667,0.97,1.0,166,166,1.0,6,0,9.76
3,2,10.033333,1.09,1.0,114,68,1.0,6,0,8.50
4,2,37.533333,4.30,1.0,68,163,1.0,6,0,27.00

In [86]:
merged_df.to_pickle("trips/pickle_all/yellow_merged.pkl")

## Green

In [88]:
directory_path_green = 'C:/Users/hitsingh/Desktop/DSF/trips/green'

In [89]:
parquet_files = [file for file in os.listdir(directory_path_green) if file.endswith('.parquet')]
parquet_files

['green_tripdata_2022-01.parquet',
 'green_tripdata_2022-02.parquet',
 'green_tripdata_2022-03.parquet',
 'green_tripdata_2022-04.parquet',
 'green_tripdata_2022-05.parquet',
 'green_tripdata_2022-06.parquet',
 'green_tripdata_2022-07.parquet',
 'green_tripdata_2022-08.parquet',
 'green_tripdata_2022-09.parquet',
 'green_tripdata_2022-10.parquet',
 'green_tripdata_2022-11.parquet',
 'green_tripdata_2022-12.parquet']

In [90]:
merged_df = pd.DataFrame()

In [91]:
columns_green = ['VendorID', 'trip_time','trip_distance',
       'passenger_count',  'PULocationID', 'DOLocationID',  'RatecodeID', "day_of_week", "hour_of_day" ,"trip_type", "trip_fair"]

In [95]:
# # Iterate through each Parquet file and append its content to the merged DataFrame
for file in parquet_files:
    file_path = os.path.join(directory_path_green, file)
    df = pd.read_parquet(file_path)
    # break
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

    df['trip_time'] = (df['lpep_dropoff_datetime'] - df['lpep_pickup_datetime']).dt.total_seconds() / 60
    df['trip_fair'] = df['fare_amount'] + df['extra'] + df['tip_amount']
    df['day_of_week'] = df['lpep_pickup_datetime'].dt.dayofweek + 1
    df['hour_of_day'] = df['lpep_pickup_datetime'].dt.hour
    df = df[columns_green]
    # df = df.drop(columns=columns_to_remove, errors='ignore')
    # df = df.dropna()
    # break
    merged_df = pd.concat([merged_df, df], ignore_index=True)
    print(file)

green_tripdata_2022-01.parquet
green_tripdata_2022-02.parquet
green_tripdata_2022-03.parquet
green_tripdata_2022-04.parquet
green_tripdata_2022-05.parquet
green_tripdata_2022-06.parquet
green_tripdata_2022-07.parquet
green_tripdata_2022-08.parquet
green_tripdata_2022-09.parquet
green_tripdata_2022-10.parquet
green_tripdata_2022-11.parquet
green_tripdata_2022-12.parquet

In [96]:
merged_df.head()

,VendorID,trip_time,trip_distance,passenger_count,PULocationID,DOLocationID,RatecodeID,day_of_week,hour_of_day,trip_type,trip_fair
0,2,1.200000,0.44,1.0,42,42,1.0,6,0,1.0,4.00
1,1,8.716667,2.10,1.0,116,41,1.0,6,0,1.0,10.00
2,1,16.200000,3.70,1.0,41,140,1.0,6,0,1.0,22.35
3,2,8.250000,1.69,1.0,181,181,1.0,6,0,1.0,8.50
4,2,21.033333,6.26,1.0,33,170,1.0,6,0,1.0,27.71

In [97]:
merged_df.to_pickle("trips/pickle_all/green_merged.pkl")

## HVFHV

In [3]:
directory_path_hvfhv = 'C:/Users/hitsingh/Desktop/DSF/trips/hvfhv'
parquet_files = [file for file in os.listdir(directory_path_hvfhv) if file.endswith('.parquet')]
parquet_files

['fhvhv_tripdata_2022-01.parquet',
 'fhvhv_tripdata_2022-02.parquet',
 'fhvhv_tripdata_2022-03.parquet',
 'fhvhv_tripdata_2022-04.parquet',
 'fhvhv_tripdata_2022-05.parquet',
 'fhvhv_tripdata_2022-06.parquet',
 'fhvhv_tripdata_2022-07.parquet',
 'fhvhv_tripdata_2022-08.parquet',
 'fhvhv_tripdata_2022-09.parquet',
 'fhvhv_tripdata_2022-10.parquet',
 'fhvhv_tripdata_2022-11.parquet',
 'fhvhv_tripdata_2022-12.parquet']

In [4]:
merged_df = pd.DataFrame()

In [5]:
columns_to_remove = ['dispatching_base_num', 'originating_base_num',
       'access_a_ride_flag', 'tolls', 'bcf', 'sales_tax', "request_datetime","on_scene_datetime","pickup_datetime","dropoff_datetime",
        "base_passenger_fare"	,"tips"	,"driver_pay",
       'congestion_surcharge', 'airport_fee', "shared_request_flag"	,"shared_match_flag",	"wav_request_flag"	,"wav_match_flag"]
# replacement_mapping = {'HV0002': 1, 'HV0003': 2, 'HV0004': 3, 'HV0005': 4}
replacement_mapping = {'HV0002': "Juno", 'HV0003': "Uber", 'HV0004': "Via", 'HV0005': "Lyft"}

In [6]:
# # Iterate through each Parquet file and append its content to the merged DataFrame
for file in parquet_files:
    file_path = os.path.join(directory_path_hvfhv, file)
    df = pd.read_parquet(file_path)
    df['hvfhs_license_num'] = df['hvfhs_license_num'].replace(replacement_mapping)
    
    df['trip_time'] = df['trip_time']/60
    df['day_of_week'] = df['pickup_datetime'].dt.dayofweek + 1
    df['hour_of_day'] = df['pickup_datetime'].dt.hour
    df['wait_time'] = (df['on_scene_datetime'] - df['request_datetime']).dt.total_seconds() / 60
    
    df['trip_fair'] = df['driver_pay'] + df['tips']
    df = df.drop(columns=columns_to_remove, errors='ignore')
    df = df.dropna()
    # break
    
    # df = df[columns_green]
    
    # break
    merged_df = pd.concat([merged_df, df], ignore_index=True)
    print(file)

fhvhv_tripdata_2022-01.parquet
fhvhv_tripdata_2022-02.parquet
fhvhv_tripdata_2022-03.parquet
fhvhv_tripdata_2022-04.parquet
fhvhv_tripdata_2022-05.parquet
fhvhv_tripdata_2022-06.parquet
fhvhv_tripdata_2022-07.parquet
fhvhv_tripdata_2022-08.parquet
fhvhv_tripdata_2022-09.parquet
fhvhv_tripdata_2022-10.parquet
fhvhv_tripdata_2022-11.parquet
fhvhv_tripdata_2022-12.parquet

In [7]:
merged_df.head()

,hvfhs_license_num,PULocationID,DOLocationID,trip_miles,trip_time,day_of_week,hour_of_day,wait_time,trip_fair
0,Uber,170,161,1.18,11.066667,6,0,0.150000,23.03
1,Uber,237,161,0.82,7.666667,6,0,2.683333,12.32
2,Uber,237,161,1.18,9.916667,6,0,13.733333,23.30
3,Uber,262,229,1.65,5.050000,6,0,1.533333,6.30
4,Uber,229,141,1.65,7.683333,6,0,0.266667,7.44

In [8]:
merged_df.to_pickle("trips/pickle_all/hvhfv_merged.pkl")